@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');

/* all/more than one page*/
body {
  background-color: rgb(235,205,207) ;
  font-family: 'Raleway', sans-serif;
  color: rgb(41, 40, 40);
  font-size: 20px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: (100px 1fr);
  grid-gap: 10px;
  grid-template-areas:
  "summary   work"
  "skills    work"
  "education work"
}


h1{
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(41, 40, 40);
}

header {
  grid-area: header;
}

footer{
  grid-area: footer;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 15px;
  padding-right: 20px;
}

section{
  padding-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: (100px 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "nav nav"
    "header header"
    "intro intro"
    "main    main"
    "footer footer"
}

.intro {
  grid-area: intro;
  text-align: center;
}

/*link states/nav */

a {
  color: rgb(177, 22, 108);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: white
}


nav {
  grid-area: nav;
  position: fixed;
  background-color: rgb(41, 40, 40);
  opacity: .5;
  width: 100%;
}

nav a {
  color: white;
}
nav ul{
  list-style-type: none;
  padding-left: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav li {
display: inline-block;
padding: 10px;
}

nav a:hover {
  color: rgb(237, 101, 150);
  background-color: white;
  font-size: 30px;
}



/* Index */
.one {
  background-image: url("images/pink2.jpg");
  background-size: cover;
}

#about {
  grid-area: about;
}

/* Resume */
#summary {
  grid-area: summary;
  line-height: 1.5;
  padding-right: 40px;
}

#skills {
  grid-area: skills;
  padding-right: 40px;
  line-height: 1.5;
}
#work {
  grid-area: work;
}


#education {
  grid-area: education;
}

/* Writing */

.writing{
  justify-content: center;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
  font: 20px;
  overflow: auto;
  padding: 20px;
  background-color: white;

}


/* Graphic Design */


.lightbox img{
  margin: auto;
  height: 400px;
  width: 400px;
  padding: 20px;
  padding-left: 40px;
}


.lightbox img:hover{
  transform: scale(1.1);
}


/* media queries (should be fully responsive)*/
@media(max-width: 768px) {

.one{
  background-image: none;
}
h1{
  font-size: 60px;
  padding-top: 50px;
}

.container {
  grid-template-columns: auto;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: (100px 1fr);
  grid-gap: 10px;
  grid-template-areas:
  "summary "
  "skills"
  "work"
  "work"
  "work"
  "education"
}

.writing{
  justify-content: center;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
  font: 20px;
  overflow: auto;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-area: writing;
  grid-template-areas:
  "writing"
  "writing"
  "writing"
  "writing"
}

.lightbox img {
  height:200px;
  width:200px;
}
}

@media (max-width: 414px) {
  .one {
    background-image: none;
  }
  h1{
    font-size: 40px;
    padding-top: 50px;
  }

  .container {
    grid-template-columns: auto;
  }

  nav {
    width: 75%;
  }

  nav ul{
    font-size: 5px;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: (100px 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "summary "
    "skills"
    "work"
    "work"
    "work"
    "education"
  }

  .lightbox img{
    height: 200px;
    width: 200px;
  }

  .writing{
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 1px solid #ccc;
    font: 20px;
    overflow: auto;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-area: writing;
    grid-template-areas:
    "writing"
    "writing"
    "writing"
    "writing"
  }
}
